body{
    margin: 0;
    padding: 10px;
    font-family: sans-serif;
    min-width: 400px;
}

input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #096fb3f6;
    margin-bottom: 5px;
}

button{
    background-color: #096fb3f6;
    color: white;
    padding: 10px 20px;
    border: 1px solid #096fb3f6;
    margin-top: 2px;
    font-weight: bold;
}

#delete-btn {
    background-color: white;
    color: #096fb3f6;
}

ul{
    margin-top: 15px;
    list-style: none;
    padding-left: 0;
 }

li{
    margin-top: 5px;
}

a{
    color: #096fb3f6;
}

